@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-primary: #1b7ced;
  --color-bg: #222222;
  --color-white: #fff;
  --color-secondary: #104a8e;
  --color-success: #5cb85c;
  --color-warning: #ffc107;
  --color-danger: #ec192e;
  --color-danger-secondary: #bd1728;

  --container-width-lg: 75%;
  --container-width-md: 90%;
  --container-width-sm: 95%;

  --transition: all 400ms ease;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--color-bg);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background: var(--color-primary);
  color: var(--color-white);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-secondary);
}

.btn.danger {
  background: var(--color-danger);
}

.btn.danger:hover {
  background: var(--color-danger-secondary);
}
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
}
